{% extends 'base.html' %}

{% block content %}
    <div class="custom-margin">
        <h1 class="display-4">Recordings</h1>
        {% for recording in recordings %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        {{ recording.created_at.strftime('%b. %d, %Y') }}
                    </h3>
                    <h5 class="card-body">
                        <p class="card-text">
                            Created at: {{ recording.created_at.strftime('%H:%M:%S') }}
                        </p>

                        <a href="{{ url_for('show_recording', recording_id=recording.id) }}" class="text-decoration-none">
                            Recording #{{ recording.id }} - {{ recording.recording_filename }}
                        </a>

                    </h5>
                    <audio controls>
                        <source src="{{ url_for('send_recording', path=recording.recording_filename) }}" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio> 
                </div>
            </div>
        {% else %}
            <p>No recordings found.</p>
        {% endfor %}
    </div>
{% endblock %}
