{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Recordings {% endblock %}</h1>
    <div class="content">
        {% for recording in recordings %}
            <div class="recording">
                <p><a href="{{ url_for('show_recording', recording_id=recording.id)}}"><b>{{recording.display_name}} (#{{ recording.id }})</b></a></p>
                <p>{{ recording.recording_filename }}</p>
                <p>Created at: {{ recording.created_at }}</p>
                <audio controls>
                    <source src="{{ url_for('send_recording', path=recording.recording_filename)}}" type="audio/wav">
                </audio>
            </div>
        {% endfor %}
    </div>
{% endblock %}
