{% extends 'base.html' %}

{% block title %}Texts{% endblock %}

{% block content %}
    <div class="custom-margin">
        <h1 class="display-4">Texts</h1>
        {% for text in texts %}
            <div class="card mb-3">
                <div class="card-body">
                    <h3 class="card-title">
                        {{ text.created_at.strftime('%b. %d, %Y') }}
                    </h3>

                    <h5 class="card-body">
                        <p class="card-text">
                            Created at: {{ text.created_at.strftime('%H:%M:%S') }}
                        </p>
                        <p class="card-text">{{ text.text_filename }}</p>
                        <a href="{{ url_for('show_text', text_id=text.id) }}" class="text-decoration-none">
                            Transcript #{{ text.id }} - (Type {{ text.type }})
                        </a>
                    </h5>
                </div>
            </div>
        {% else %}
            <p>No texts found.</p>
        {% endfor %}
    </div>
{% endblock %}