.custom-margin {
    margin: 20px; /* Adjust the value to the desired margin size */
}

.custom-box{
    background-color: #ffffff; 
    color: #1c504f; 
    border-color: #3aafa9; 
    margin: 20px;
}

.header-custom-color {
    color: #2b7a78;
}


